@{
    ViewData["Title"] = "Home Page";
    UserSession show = (UserSession)ViewData["Message"];

    Courses userCourses = (Courses)ViewData["UserCourses"];
    Assignments assignments = (Assignments)ViewData["userAssignments"];
}

<div class="text-center">
    <h1 class="display-4">Welcome @show.FirstName @show.LastName</h1>
</div>

<div class="container mt-5">
    @if (show.AccountType == 0)  //student
    {
        <div class="row">
            <div class="col-8">
                <div class="row align-items-stretch">
                    @if (userCourses.CourseList != null)
                    {
                        @for (int i = 0; i < userCourses.CourseList.Count; i++)
                        {
                            <div class="col-6 mb-3 align-self-stretch">
                                <a href="#" class="stretched-link" style="min-height: 100%">
                                    <div class="card" style="min-height: 100%">
                                        <div class="card-body" style="box-shadow: 5px 5px 20px grey">
                                            <h5 class="card-title"  style="color:@userCourses.CourseList[i].Color;">@userCourses.CourseList[i].ClassTitle | @userCourses.CourseList[i].ClassNumber</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">@userCourses.ParseDays(i) @userCourses.CourseList[i].StartTime.ToString()-@userCourses.CourseList[i].EndTime.ToString()</h6>
                                            <p class="card-text">Location: @userCourses.CourseList[i].Location</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-4">
                <div class="list-group" style="box-shadow: 5px 5px 20px grey">
                    <li class="list-group-item text-center fs-3 font-weight-bold"><i class="bi bi-list-check"></i> To Dos</li>
                    @if (assignments.AssignmentList != null)
                    {
                        @for (int i = 0; i < assignments.AssignmentList.Count; i++)
                        {
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@assignments.AssignmentList[i].Title</h5>
                                    <small>@assignments.AssignmentList[i].DueDate</small>
                                </div>
                                <small>@userCourses.CourseList.Where(y => y.CourseID == assignments.AssignmentList[i].CourseID).Select(z => z.ClassNumber).FirstOrDefault()</small>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    }
    @if (show.AccountType == 1)  //instructor
    {
        <div class="row align-items-stretch">

            @if (userCourses.CourseList != null)
            {

                @for (int i = 0; i < userCourses.CourseList.Count; i++)
                {
                    <div class="col-4 mb-3 align-self-stretch">
                        <a asp-controller="Instructor" asp-action="CourseEdit" asp-route-id="@userCourses.CourseList[i].CourseID" class="stretched-link" style="min-height: 100%">

                            <div class="card" style="min-height: 100%" >
                                <div class="card-body" style="box-shadow: 5px 5px 20px grey;">
                                    <h5 class="card-title" style="color:@userCourses.CourseList[i].Color;">@userCourses.CourseList[i].ClassTitle | @userCourses.CourseList[i].ClassNumber</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@userCourses.ParseDays(i) @userCourses.CourseList[i].StartTime.ToString()-@userCourses.CourseList[i].EndTime.ToString()</h6>
                                    <p class="card-text">Location: @userCourses.CourseList[i].Location</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            }

        </div>
    }
</div>
