@{
    UserSession user = (UserSession)ViewData["Message"];
    ViewData["Title"] = "Registration";
    Courses courses = (Courses)ViewData["Courses"];
    Courses studentCourses = (Courses)ViewData["StudentCourses"];
    Departments depts = (Departments)ViewData["Departments"];
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<!--View Registration Section-->
<div id="RegistrationView" class="container">
    <h1 class="display-4 text-center mt-3 mb-5">@ViewData["Title"]</h1>
    <form asp-action="SearchCourses" method="post">
        <div class="form-row align-items-center justify-content-center">
            <div class="row col-sm-12 col-lg-4 my-1 align-items-center justify-content-center mr-3">
                <div class="col-sm-12 col-lg-4">
                    <label class="text-right" for="Department">Department:</label>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <select id="Department" name="Department" class="form-control" value="-1">
                        <option value="-1">Select Department</option>
                        @for (int i = 0; i < depts.DeptsList.Count; i++)
                        {
                            <option value=@depts.DeptsList[i].DeptID>@depts.DeptsList[i].DeptName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row col-sm-12 col-lg-4 my-1 align-items-center justify-content-center">
                <div class="col-sm-12 col-lg-4">
                    <label class="text-right" for="Title">Course Title:</label>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <input type="text" id="Title" name="Title" class="form-control" value="" />
                </div>
            </div>
            <button type="submit" class="btn btn-success mx-2"><i class="bi bi-search"></i> Search</button>
            <button type="submit" class="btn btn-warning mx-2" asp-action="Register"><i class="bi bi-x-lg"></i> Clear</button>
        </div>
    </form>
    @if (courses.CourseList != null)
    {
        <table class="table table-hover bg-white mt-5">
            <thead>
                <tr>
                    <th scope="col">Course Number</th>
                    <th scope="col">Course Title</th>
                    <th scope="col">Instructor</th>
                    <th scope="col">Days</th>
                    <th scope="col">Time</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < courses.CourseList.Count; i++)
                {
                    <tr>
                        <th scope="row">@courses.CourseList[i].ClassNumber</th>
                        <td>@courses.CourseList[i].ClassTitle</td>
                        <td>
                            @if (courses.CourseInstructors.Any(x => x.UserId == courses.CourseList[i].InstructorID))
                            {
                                <span>@courses.CourseInstructors.Find(x => x.UserId == courses.CourseList[i].InstructorID).FirstName</span>
                                <span>@courses.CourseInstructors.Find(x => x.UserId == courses.CourseList[i].InstructorID).LastName</span>
                            }
                        </td>
                        <td>@courses.ParseDaysShort(i)</td>
                        <td>@courses.CourseList[i].StartTime.ToString() - @courses.CourseList[i].EndTime.ToString()</td>
                        <td>@courses.CourseList[i].Location</td>
                        <td>
                            @if (studentCourses.CourseList != null && studentCourses.CourseList.Count != 0)
                            {
                                @if (studentCourses.CourseList.Any(x => x.CourseID == courses.CourseList[i].CourseID))
                                {
                                    <form asp-action="Drop" method="post">
                                        <div style="display:none">
                                            <input type="number" name="studentID" value=@user.UserId />
                                            <input type="number" name="courseID" value=@courses.CourseList[i].CourseID />
                                        </div>
                                        <button type="submit" class="btn btn-danger mx-2">Drop</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-action="Register" method="post">
                                        <div style="display:none">
                                            <input type="number" name="studentID" value=@user.UserId />
                                            <input type="number" name="courseID" value=@courses.CourseList[i].CourseID />
                                        </div>
                                        <button type="submit" class="btn btn-success mx-2">Register</button>
                                    </form>
                                }
                            }
                            else if (studentCourses.CourseList == null || studentCourses.CourseList.Count == 0)
                            {
                                <form asp-action="Register" method="post">
                                    <div style="display:none">
                                        <input type="number" name="studentID" value=@user.UserId />
                                        <input type="number" name="courseID" value=@courses.CourseList[i].CourseID />
                                        <p>This is from the outer form.</p>
                                    </div>
                                    <button type="submit" class="btn btn-success mx-2">Register</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<!--End View Registration Section-->
